[alias]
    # clone all with submodules
    c = clone --recursive

    # clone with limited depth save some loading time
    shallow-clone = "clone --depth=1"

    # commit all
    ca = !git add -A && git commit -av

    # one line logs
    l = log --pretty=oneline -n 20 --graph --abbrev-commit

    # shortline status
    s = status -s

    # use with caution - overrides the repository
    forcewithlease = push --force-with-lease

    # commit statistics
    who = shortlog -sne

    # deletes all merges branches from local (dont work with squshed branches)
    # deletemerged = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

    # amend commit shortcut
    amend = commit --amend --reuse-message=HEAD

    # show all tags
    tags = tag -l

    # show all remotes
    remotes = remote -v

    # show all stashes
    stashes = stash list

    # branches

    branches = branch -a # show all branches
    unpushed = log --branches --not --remotes --no-walk --decorate --oneline # show unpushed branches

    # reset 

    shitshit = reset --hard  # redos all current changes
    uncommit = reset --soft HEAD^ # uncommit all softly (goes back and keeps current changes)

    # diff

    d = diff
    dno = diff --name-only

    # worktree
    wt = worktree
    wta = worktree add
    wtl = worktree list
    wtr = worktree remove

[color]
    branch = auto
    diff = auto
    status = auto
    ui = auto

[color "status"]
    added = green
    changed = yellow
    untracked = cyan

[color "branch"]
    current = green reverse
    local = yellow
    remote = cyan

[core]
    autocrlf = input
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
    untrackedCache = true
    ignoreCase = false

[help]
    autocorrect = 0

[merge]
    log = true

[push]
    default = simple
    followTags = true

[include]
    path = ~/.gitconfig.local

[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
    insteadOf = "github:"
